
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The Smart Deal</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/heroic-features.css') }}">
</head>
<body>
  <!-- Navigation -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/homepage">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">to be filled later...</p>
      <a href="/Search" class="btn btn-primary btn-lg">Search</a>

    </header>
</div>
  
  <script src="{{ url_for('static', filename='jquery/jquery.min.js')}}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>













<!--<html>
    <p>
    <h1>SUPER SIMPLE ECOMERCE SITE FOR PRICE COMPARISON</h1>
    </p>
    <p>
    <a href="/about">ABOUT US</a>
    </p>
    <p>
    <a href="/Search">SEARCH</a>
    </p>
    </html>

-->